body {
  max-width: 320px;
  margin: auto;
  background: black;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

header p {
  font-size: 15px;
  padding: 15px 0 30px 0;
}

header h1 {
  font-size: 13px;
  border:2px solid #e8cf2c;
  padding: 5px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}
  
main nav {
  padding-left: 50px;
}

main img {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main h2{
  padding: 55px 0 20px 0;
}

footer {
  padding: 100px 0 30px 0;
  font-size: 13px;
}

p {
  color: white;
  font-family: lato;
}

.yellow {
  color: #e8cf2c;
}

.red {
  color: #d70716;
}

.titre {
  padding: 0 0 80px 0;
}

h1,
h2 {
  color: #e8cf2c;
  text-align: center;
  font-family: 'Tilt Warp', cursive;
}

a {
  text-decoration: none;
  color: white;
}
