body {
  max-width: 320px;
  margin: auto;
  background: black;
}

img {
  max-width: 100%;
}

p {
  color: white;
  font-family: lato;
}

h1, h2 {
  color: #e8cf2c;
  text-align: center;
  font-family: 'Tilt Warp', cursive;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  color: #e8cf2c;
}